@font-face {
  font-family: "SF Display";
  src: url("../SF-UI-Display-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SF Display";
  src: url("../SF-UI-Display-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "SF Display";
  src: url("../SF-UI-Display-Semibold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "SF Display";
  src: url("../SF-UI-Display-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "SF Display";
  src: url("../SF-UI-Display-Black.otf") format("opentype");
  font-weight: 800;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "SF Display", sans-serif;
  font-weight: 400;
}

body {
  background-color: #f8f8f8;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 24px 0px 19px;
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  max-width: 1525px;
  width: calc(100% - 90px);
  left: 0;
  right: 0;
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-link {
  margin-top: 5px;
}

.link {
  height: 18px;
  max-width: 18px;
  fill: rgba(255, 255, 255, 0.3);
  margin-left: 9px;
  transition: 200ms;
}

.fb:hover {
  fill: #1877f2;
}

.ig:hover {
  fill: #c13584;
}

.tw:hover {
  fill: #1da1f2;
}

.li:hover {
  fill: #0a66c2;
}

.yt:hover {
  fill: #ff0000;
}

.sc:hover {
  fill: #ff8800;
}

nav img {
  width: 134.5px;
  padding-left: 15px;
  cursor: pointer;
}

.navbar-menu {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 1116px;
  height: 42px;
}

.navbar-content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-info {
  display: flex;
  align-items: center;
}

.navbar-search {
  width: 120px;
  display: flex;
  align-items: center;
}

.gsearch {
  border: none;
  background-color: transparent;
  color: #fff;
  padding-left: 10px;
  width: 95px;
}

.vl {
  width: 1px;
  border-left: 1px solid white;
  height: 20px;
}

.span1 {
  font-size: 12.6px;
  opacity: 0.5;
}

.span2 {
  font-size: 12.6px;
  margin-left: 5px;
}

.span3 {
  margin-left: 10px;
  font-size: 12.6px;
  font-weight: 500;
  border-radius: 20px;
  padding: 8px 18px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-right: 35px;
  display: inline-flex;
  gap: 10px;
}

.hero {
  width: 100%;
  height: 60vh;
  background-image: url(https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/45a6759e3f8e0400fadb10502b8f6309.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.hero--cover {
  z-index: 2;
}

.hero--information {
  color: white;
  max-width: 608px;
  margin-left: 61px;
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-top: 45px;
  z-index: 2;
}

.hero--container {
  display: flex;
  justify-self: center;
  align-items: start;
  margin-top: 120px;
}

.hero--overlay {
  position: absolute;
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 1)
  );
  z-index: 1;
  top: 0;
  left: 0;
}

@keyframes fade-effect {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hero--information h5 {
  display: block;
  font-size: 12px;
  font-weight: bold;
  unicode-bidi: isolate;
  color: #0078f6;
  letter-spacing: 0.03rem;
  line-height: 2.1rem;
  text-transform: uppercase;
  animation: fade-effect 2s infinite;
}

.dot1 {
  animation: fade-effect 2s infinite;
}

.hero--information h2 {
  font-size: 23px;
  line-height: 3.1rem;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  margin: 7px 0 0 0;
  font-weight: 900;
}

.hero--information h1 {
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hero--content h1 {
  cursor: pointer;
}

.hero--author {
  display: flex;
  gap: 8px;
  align-items: center;
}

.hero--author img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 4px;
  border: rgba(255, 255, 255, 0.5) solid 1px;
}

.hero--author-inf {
  display: inline-block;
}

.hero--author h6 {
  font-size: 12.6px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.015rem;
  cursor: pointer;
}

.hero--author h6:hover {
  color: #fff;
  transition: 400ms;
}

.hero--author span {
  font-size: 12.6px;
  letter-spacing: 0.015rem;
}

.pre-dot::before {
  content: "•";
  margin-left: 3px;
  margin-right: 6px;
}

.scroll--header {
  background-color: black;
  color: #fff;
  padding-bottom: 234px;
  padding-top: 8px;
  position: relative;
  z-index: 2;
  height: 327px;
  display: flex;
  align-items: center;
}
.scroll--header h1 {
  font-size: 16.2px;
  font-weight: 700;
  margin-left: 357px;
}

.scroll {
  position: relative;
  z-index: 2;
  margin: auto;
  margin-top: -248px;
  overflow-x: scroll;
  max-width: 1624px;
}

.scroll--container {
  display: flex;
  gap: 28px;
  padding: 20px 20px 97px;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.scroll--card {
  transition: 300ms;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 20px;
  cursor: pointer;
}

.scroll--card:hover {
  transform: scale(1.1);
  background-color: aqua;
}

.blue-dot::before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  background-color: #0078f6;
  height: 6px;
  border-radius: 10px;
  width: 6px;
  margin-top: 0;
}

.scroll--card--header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 12px;
  color: #fff;
}

.scroll--card--title {
  margin-top: 14px;
  font-size: 18px;
  font-weight: 700;
}

.meta {
  padding: 20px;
  align-self: flex-end;
  color: #fff;
}

.scroll--card--color {
  margin-right: 14px;
  font-size: 14px;
}

.scroll--card--category {
  display: inline-block;
  padding: 1px 11px 0 11px;
  background-color: #0078f6;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 12px;
}

#card-1 {
  background-image: url(https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/3417b9439881bfca93501f04f5d87faa.jpg);
}

#card-2 {
  background-image: url(https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/ce0b0be013be91d7f1c5f30f7be31465.png);
}

#card-3 {
  background-image: url(https://unread.today/files/969a1aed-77a4-45e9-b7b7-3ee2709aaf31/4f6f6a723b581e636c03db35ea9d6141.jpeg);
}

#card-4 {
  background-image: url(https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/7b4b22cb024f41fc3d34c9da36edaa4c.jpg);
}

#card-5 {
  background-image: url(https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/a5d88da5e40fbd813500ce2b4f8cc986.png);
}

#card-6 {
  background-image: url(https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/1abcefda5c2b24eb8fc96efd54d5e5cc.jpg);
}
#card-7 {
  background-image: url(https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/82f56a76bb57f50a1adcd601c560c0ff.jpg);
}

.article {
  display: flex;
  flex-direction: column;
  max-width: 1116px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.article-card:nth-child(odd) .article-content {
  border-radius: 0px 30px 30px 30px;
}

.article-card:nth-child(even) .article-content {
  border-radius: 30px 0px 30px 30px;
}

.article-card:nth-child(even) .article-author .hero--author {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
}

.article-card:nth-child(even) {
  align-self: end;
}

.article-card {
  display: flex;
  flex-direction: column;
  transition: 200ms;
  max-width: 739px;
  cursor: pointer;
}

.article-author {
  margin-bottom: 13px;
}

.article-author .hero--author h6 {
  color: black;
  font-weight: bold;
}

.article-author .hero--author span {
  color: #888888;
}

.article-content {
  display: flex;
  padding: 28px 65px 20px 51px;
  gap: 20px;
  background-color: #fff;
  width: fit-content;
}

.article-card:hover .article-content {
  box-shadow: 0 0 25px rgb(183, 178, 178);
}

.article-card:hover {
  transform: translateY(-5px);
}

.article-content p {
  color: #0078f6;
  font-size: 12.6px;
  font-weight: 600;
  margin-bottom: 5px;
}

.article-content h1 {
  font-size: 21.6px;
  font-weight: 600;
  margin-bottom: 15px;
}

.article-content img {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}

.container {
  display: flex;
  max-width: 1116px;
  margin: 0 auto;
  padding: 0 19px;
  gap: 19px;
}

.container1 {
  display: flex;
  flex-direction: column;
  width: 568px;
  gap: 19px;
}

.container2 {
  display: flex;
  flex-direction: column;
  width: 568px;
  gap: 19px;
  margin-bottom: 38px;
}

.container3 {
  max-width: 1116px;
  display: flex;
  flex-direction: row;
  gap: 19px;
  margin: auto;
  padding: 0 19px;
}

.container1-bottom {
  display: flex;
  flex-direction: row;
  gap: 19px;
}

.container2-top {
  display: flex;
  flex-direction: row;
  gap: 19px;
}

.container2-bottom {
  display: flex;
  flex-direction: row;
  gap: 19px;
}

.item {
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  transition: 300ms;
  display: flex;
  align-items: end;
  cursor: pointer;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgb(1, 1, 1);
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px 23px 10px 23px;
  backdrop-filter: blur(8px);
  position: relative;
  height: 110px;
  border-radius: 0 0 20px 20px;
}

.content span {
  position: absolute;
  color: #fff;
  top: 0;
  right: 20px;
  transform: translateY(-50%);
  background-color: #3a5c73;
  padding: 4px 11px;
  font-size: 12.6px;
  border-radius: 7px;
}

.content h5 {
  font-size: 12.6px;
  color: #fff;
  opacity: 0.5;
  margin-top: 4px;
}

.content h6 {
  margin-top: 6px;
  font-size: 16px;
  color: #fff;
}

.content2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 23px;
  backdrop-filter: blur(8px);
  position: relative;
  height: 90px;
  border-radius: 0 0 20px 20px;
}

.content2 span {
  position: absolute;
  color: #fff;
  top: 0;
  right: 20px;
  transform: translateY(-50%);
  background-color: #90989c;
  padding: 4px 11px;
  font-size: 12.6px;
  border-radius: 7px;
}

.content2 h5 {
  font-size: 12.6px;
  color: #fff;
  opacity: 0.5;
  margin-top: 4px;
}

.content2 h6 {
  margin-top: 3px;
  font-size: 16px;
  color: #fff;
  height: 4rem;
  display: block;
}

.items1 {
  background-image: url(https://unread.today/files/44/a111bdece824c72460db94c9ee48091b.jpg);
  height: 361.5px;
  display: flex;
  align-items: end;
}

.items2 {
  background-image: url(https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/4e87672b7607d4279d5fa92759e9adb4.jpg);
  height: 234px;
  width: 50%;
}

.items3 {
  background-image: url(https://unread.today/files/969a1aed-77a4-45e9-b7b7-3ee2709aaf31/54b9708070b76e49912b84a4a833d540.jpg);
  height: 234px;
  width: 50%;
}

.items4 {
  background-image: url(https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/2b79be6b652b55b8d79e7a21b5c05fdd.png);
  height: 272px;
  width: 50%;
}

.items5 {
  background-image: url(https://unread.today/files/969a1aed-77a4-45e9-b7b7-3ee2709aaf31/f7d08efb1dfdf11573a2dc7caeba3a26.png);
  height: 272px;
  width: 50%;
}

.items6 {
  background-image: url(https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/c6fdf3dc1ab0df88de77de5232c5f4c7.jpg);
  height: 324px;
  width: 50%;
}

.items7 {
  background-image: url(https://unread.today/files/969a1aed-77a4-45e9-b7b7-3ee2709aaf31/d8ba5b16449f2b86a48e0cd0901602cb.png);
  height: 324px;
  width: 50%;
}

.items8 {
  background-image: url(https://unread.today/files/5409fb7e-6b28-4095-834c-ece240290ec2/2489e79186ca803b94e23d967420da96.jpg);
  height: 361.5px;
  width: 50%;
}

.footer-top {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 82px;
  background-color: #fafafa;
  border-radius: 0 0 3.6rem 3.6rem;
}

footer {
  background: black;
  margin-top: -55px;
  padding: 130px 0 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer--top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer1 {
  width: 466px;
  height: 403px;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 50px;
}

.footer2 {
  width: 650px;
  min-height: 403px;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 50px;
  margin: 0 0 0 50px;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer img {
  width: 144px;
  cursor: pointer;
}

.footer-img {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 30px;
  padding-top: 20px;
  cursor: pointer;
}

.button {
  margin-top: 30px;
  padding-top: 20px;
}

.footer-button1 {
  background-image: url(https://unread.today/img/btn-black.png);
  position: relative;
  padding: 21px 80px 27px 28px;
  display: inline-block;
  align-items: center;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 323px;
  height: 90px;
  color: #fff;
  margin-top: 49px;
}

.footer-button2 {
  background-image: url(https://unread.today/img/btn-black.png);
  position: relative;
  padding: 21px 80px 27px 28px;
  display: inline-block;
  align-items: center;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 323px;
  height: 90px;
  color: #fff;
  margin-top: 22px;
}

.button:hover .angle-right {
  color: #fff;
  background-color: #0078f6;
  border-color: #0078f6;
}

.button:hover {
  transform: translateX(8px);
  transition: 300ms;
  cursor: pointer;
}

.footer-button-content {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.footer-button-text1 {
  font-size: 12.6px;
  opacity: 0.3;
}

.footer-button-text2 {
  font-size: 14.4px;
  font-weight: 500;
  padding-top: 5px;
}

.angle-right {
  height: 36px;
  width: 36px;
  background-color: black;
  color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  vertical-align: middle;
  position: absolute;
  right: 18px;
  top: 27px;
  border: 9px solid black;
}

.angle-right:hover {
  color: #fff;
  background-color: #0078f6;
  border-color: #0078f6;
  cursor: pointer;
}

.footer-card {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 28px;
  height: 264px;
  width: 208px;
}

.footer2-header {
  display: flex;
  color: #fff;
  flex-direction: row;
  font-size: 14.4px;
  margin-bottom: 46px;
}

.footer2-header span:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 300ms;
}

.pre-dot2::before {
  content: "•";
  margin-left: 10px;
  margin-right: 10px;
}

.footer2 p {
  color: #fff;
  font-size: 10.8px;
  margin: 15px 0;
  max-width: 500px;
  opacity: 0.5;
}

.footer-footer {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

.footer-footer-top {
  display: flex;
  flex-direction: row;
}

.footer-card p {
  color: #fff;
  font-size: 12.6px;
  margin: 9px 0 0;
  opacity: 0.5;
  height: 20px;
}

.footer-footer-top .footer-card p:hover {
  transform: translateX(5px);
  opacity: 1;
  transition: 300ms;
  cursor: pointer;
}

.footer-card h5 {
  color: #0078f6;
  font-size: 14.4px;
  margin: 0 0 6px;
  height: 24px;
  max-width: 180px;
}

.footer-card p:last-child:hover {
  transform: translateX(5px);
  transition: 300ms;
}

.footer-links {
  background-color: black;
  padding-bottom: 75px;
}

.social-links2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1116px;
  margin: 0 auto;
}

.social-link2 {
  padding: 20px 0 20px 35px;
}

.link2 {
  width: 42.65px;
  fill: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 480px) {
  .article {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .container {
    flex-wrap: wrap;
    padding: 0 20px;
  }
  .container1-bottom {
    display: flex;
    flex-direction: column;
  }
  .container2-top {
    display: flex;
    flex-direction: column;
  }
  .container2-bottom {
    display: flex;
    flex-direction: column;
  }
  .item {
    height: 290px;
    width: 100%;
    margin: 0 0 19px 0;
  }
  .items9 {
    display: none;
  }

  .scroll--container {
    max-width: 430px;
    padding: 0 25px;
  }

  footer {
    padding: 120px 25px 0 25px;
  }

  .footer1,
  .footer2 {
    padding: 0;
    margin: 0;
  }

  .footer2-header {
    padding: 0 25px;
  }

  .footer2 p {
    padding: 0 25px;
  }

  .footer2-header span:nth-child(3) {
    display: none;
  }

  .footer-img img {
    width: 175px;
  }

  .footer--top {
    flex-wrap: wrap;
  }

  .footer-footer {
    display: flex;
    flex-direction: column;
  }

  .footer-links {
    padding-top: 80px;
  }

  .social-link2 {
    padding: 0 15px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .article {
    margin-bottom: 50px;
  }
  .container {
    flex-wrap: wrap;
    padding: 0 20px;
  }
  .container1 {
    width: 100%;
  }
  .container2 {
    width: 100%;
  }
  .container1-bottom {
    display: flex;
    gap: 19px;
  }
  .container2-top {
    display: flex;
    gap: 19px;
  }
  .container2-bottom {
    display: flex;
    gap: 19px;
  }
  .items1,
  .items8 {
    height: 400px;
    margin: 0 0 19px 0;
    width: 100%;
    padding: 0;
  }

  .container3 {
    padding: 0 19px;
    gap: 0;
  }

  .item {
    margin: 0 0 19px 0;
  }
}

@media screen and (max-width: 767px) {
  .hero--cover img {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  .navbar {
    justify-content: end;
  }

  .navbar-info {
    display: none;
  }

  .gsearch {
    display: none;
  }

  .navbar-search {
    width: auto;
  }

  .social-links {
    display: none;
  }

  .scroll--card {
    min-width: 245px;
    max-width: 294px;
    min-height: 362px;
    max-width: 434px;
  }

  .scroll--header h1 {
    margin: 0;
    padding: 0 40px;
  }

  .article {
    padding: 0 20px;
  }

  .article-card {
    max-width: 1116px;
    margin: auto;
    height: 185px;
    margin-bottom: 44px;
  }

  .article-content {
    padding: 22px 33px;
    margin: 10 0 0;
  }

  .article-content h1 {
    font-size: 18px;
  }

  .article-content img {
    width: 88px;
    height: 88px;
  }

  .prevweek {
    flex-wrap: wrap;
  }

  .link2 {
    width: 34px;
    padding: 0;
  }
}

@media screen and (min-width: 767px) and (max-width: 1430px) {
  .span2 {
    display: none;
  }

  .social-links {
    display: none;
  }

  .hero--cover img {
    width: 100%;
    min-height: 410px;
    object-fit: cover;
    border-radius: 5%;
    cursor: pointer;
  }

  .hero--cover {
    min-height: 446px;
    max-width: 446px;
    display: block;
  }

  .hero--information {
    min-width: 608px;
  }

  .hero--information h5 {
    font-size: 14.4px;
  }

  .hero--information h2 {
    font-size: 36px;
  }

  .hero--information h1 {
    font-size: 36px;
  }

  .hero--author {
    font-size: 1.26rem;
  }

  .scroll--card {
    min-width: 220px;
    max-width: 294px;
    min-height: 323px;
    max-width: 434px;
  }

  .article {
    max-width: 1116px;
    margin: auto;
  }

  .article-card {
    height: 280px;
  }
}

@media screen and (min-width: 1300px) {
  .scroll--card {
    min-width: 294px;
    min-height: 434px;
  }
  .hero--cover img {
    width: 446px;
    height: 446px;
    object-fit: cover;
    border-radius: 5%;
  }
  .hero--content h5 {
    font-size: 14.4px;
  }

  .hero--content h2 {
    font-size: 36px;
  }

  .hero--content h1 {
    font-size: 36px;
  }
}
